<h2>Enter new inventory to clearance</h2>
  <div class="new_batch_items_header">
    <h4>
      Enter the Item id or scan its barcode start a new batch. After submitting your inventory, click Clearance to clearance this batch.
    </h4>
  </div>
<%= render 'form' %>
